<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.awaa.mobiledata"
    version="1.0.0">

    <name>Bluetooth Controls</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>This plugin set/gets the Mobile data state.</description>
    <author>Aricwithana - mraricwithana@domlauncher.com</author>
    <keywords></keywords>

    <license>CC4.0NCAttrib</license>

    <js-module src="www/mobiledata.js" name="mobiledata">
        <clobbers target="window.mobiledata" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="mobiledata" >
            <param name="android-package" value="com.awaa.mobiledata.mobiledata"/>  
          </feature>
        </config-file>

        <source-file src="src/android/mobiledata.java" target-dir="src/com/awaa/mobiledata" />

    </platform>
</plugin>