<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.awaa.missedcomm"
    version="1.0.0">

    <name>Missed Communcations</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>Returns current number of missed calls/sms messages that have not been acknowledged in any way.  Not a broadcast listener, pass an int interval value.  If current value is different than the stored last known value, triggers passed JS callback.</description>
    <author>Aricwithana - mraricwithana@domlauncher.com</author>
    <keywords></keywords>

    <license>CC4.0NCAttrib</license>

    <js-module src="www/missedcomm.js" name="missedcomm">
        <clobbers target="window.missedcomm" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="missedcomm" >
            <param name="android-package" value="com.awaa.missedcomm.missedcomm"/>  
          </feature>
        </config-file>

        <source-file src="src/android/missedcomm.java" target-dir="src/com/awaa/missedcomm" />

    </platform>
</plugin>