<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.awaa.bluetoothcontrols"
    version="1.0.0">

    <name>Bluetooth Controls</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>This plugin set/gets the Bluetooth adapter state.</description>
    <author>Aricwithana - mraricwithana@domlauncher.com</author>
    <keywords></keywords>

    <license>CC4.0NCAttrib</license>

    <js-module src="www/bluetoothcontrols.js" name="bluetoothcontrols">
        <clobbers target="window.bluetoothcontrols" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="bluetoothcontrols" >
            <param name="android-package" value="com.awaa.bluetoothcontrols.bluetoothcontrols"/>  
          </feature>
        </config-file>

        <source-file src="src/android/bluetoothcontrols.java" target-dir="src/com/awaa/bluetoothcontrols" />

    </platform>
</plugin>