<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.awaa.brightnesscontrols"
    version="1.0.0">

    <name>Screen Brightness Controls</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>Sets, gets screen brightness.  Gets and toggles autobrightness.</description>
    <author>Aricwithana - mraricwithana@domlauncher.com</author>
    <keywords></keywords>

    <license>CC4.0NCAttrib</license>

    <js-module src="www/brightnesscontrols.js" name="brightnesscontrols">
        <clobbers target="window.brightnesscontrols" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="brightnesscontrols" >
            <param name="android-package" value="com.awaa.brightnesscontrols.brightnesscontrols"/>  
          </feature>
        </config-file>

        <source-file src="src/android/brightnesscontrols.java" target-dir="src/com/awaa/brightnesscontrols" />

    </platform>
</plugin>