<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.awaa.cellsignal"
    version="1.0.0">

    <name>Cellular Signal Controls</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>Enables a broadcast listener on cellular signal change that returns current level.  Sucess function is passed as a String of the functions name.  Native code uses string to call JS when a broadcast is received.</description>
    <author>Aricwithana - mraricwithana@domlauncher.com</author>
    <keywords></keywords>

    <license>CC4.0NCAttrib</license>

    <js-module src="www/cellsignal.js" name="cellsignal">
        <clobbers target="window.cellsignal" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="cellsignal" >
            <param name="android-package" value="com.awaa.cellsignal.cellsignal"/>  
          </feature>
        </config-file>

        <source-file src="src/android/cellsignal.java" target-dir="src/com/awaa/cellsignal" />

    </platform>
</plugin>