<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.awaa.batterylevel"
    version="1.0.0">

    <name>Battery Level</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>Returns current battery level.</description>
    <author>Aricwithana - mraricwithana@domlauncher.com</author>
    <keywords></keywords>

    <license>CC4.0NCAttrib</license>

    <js-module src="www/batterylevel.js" name="batterylevel">
        <clobbers target="window.batterylevel" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="batterylevel" >
            <param name="android-package" value="com.awaa.batterylevel.batterylevel"/>  
          </feature>
        </config-file>

        <source-file src="src/android/batterylevel.java" target-dir="src/com/awaa/batterylevel" />

    </platform>
</plugin>